html,
body,
#root {
  height: 100%;
  -webkit-font-smoothing: antialised;
  font-size: 16px;
  line-height: 20px;
}

* {
  box-sizing: border-box;
}

p {
  margin-top: 16px;
  margin-bottom: 8px;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

.App {
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
